body {
  font-family: "Amazon-amber";
}

.top-nav {
  display: flex;
  height: 60px;
  background-color: #131921;
}

nav a {
  color: #fff;
  font-family: "Amazon-amber";
}

.nav_left {
  margin-left: 11px;
  display: flex;
}

.nav_left_logo {
  display: flex;
  height: 50px;
  padding: 1px 8px 0 6px;
  margin: 1px;
  margin-top: 5px;
}

.nav_left_logo_img {
  display: inline-block;
  margin-top: 12px;
  height: 30px;
  width: 97px;
  background: url(/styles/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png) -10px -51px;
}

.nav_left_location {
  display: flex;
  width: auto;
  margin: 5px 2px 5px 2px;
  padding: 0 9px 0 9px;
}

.nav_left_location_icon {
  display: inline-block;
  height: 18px;
  width: 15px;
  margin-top: 20px;
  background: url(/styles/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png) -71px -378px;
}

.nav_left_location_text {
  margin-left: 3px;
  margin-top: 8px;
}

.nav_left_location__deliver {
  display: block;
  color: #ccc;
  font-size: 12px;
}

.nav_left_location__country {
  display: block;
  font-size: 14px;
}

.nav_search {
  flex-grow: 1;
  height: 60px;
  margin: 0 10px;
  padding: 10px 4px 10px 3px;
}

.nav_search_form {
  display: flex;
  border: none;
}

.nav_search_left {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding-left: 5px;
  border-top-left-radius: 4px;
  background-color: #f3f3f3;
  border-bottom-left-radius: 4px;
}

.nav_search_left:hover {
  cursor: pointer;
  background-color: #dadada;
}

.nav_search_left_selection {
  min-width: 19px;
  margin-left: 5px;
  margin-right: 21px;
  line-height: 33px;
  font-size: 12px;
  color: #555;
}

.nav_search_fill {
  flex-grow: 1;
  background-color: #fff;
  height: 40px;
}

.nav_search_fill_input {
  border: none;
  width: 100%;
  height: 38px;
  padding: 7px 10px 10px 7px;
  line-height: 15px;
  font-size: 15px;
}

.nav_search_fill_input:focus {
}

.nav_search_right {
  width: 45px;
  height: 40px;
  background-color: #febd69;
  border: 1px transparent solid;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.nav_search_right input {
  height: 100%;
  width: 100%;
  background: url(/styles/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-position: 2px -280px;
  border: 0;
  text-indent: -9999px;
}

.nav_search_right input:hover {
  background-color: #f3a847;
}

.nav_right {
  display: flex;
  margin-top: 2px;
  padding: 3px 0 0 0;
  font-size: 14px;
}

.nav_right_flag {
  margin-left: 1px;
  padding-left: 9px;
  height: 50px;
  display: flex;
  align-items: center;
  width: 55px;
  height: 50px;
}

.nav_right_flag_img {
  width: 24px;
  height: 18px;
  background: url(/styles/images/rzrQQdi0aRm6Dap.png);
  background-position: 0 -130px;
}

.nav_right_arrow {
  width: 5px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-position: 0 1000px;
}

.nav_right_sign-in {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  padding-right: 9px;
  padding-left: 9px;
  height: 50px;
}

.nav_right_sign-in__msg {
  display: inline-block;
  color: white;
  height: 14px;
  margin-top: 9px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.nav_right_returns {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  padding-right: 9px;
  padding-left: 9px;
  height: 50px;
}

.nav_right_returns__upper {
  display: inline-block;
  color: white;
  height: 14px;
  margin-top: 9px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.nav_right_cart {
  display: flex;
  position: relative;
  height: 50px;
  align-items: flex-end;
  margin-right: 11px;
  margin-left: 2px;
  padding-right: 9px;
  flex-flow: row nowrap;
  padding: 0 9px 11px 10px;
}

.nav_right_cart_img {
  background: url(/styles/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-position: -10px -340px;
  width: 38px;
  height: 26px;
}

.nav_right_cart_counter {
  position: absolute;
  color: #f08804;
  top: 6px;
  left: 28px;
  font-size: 16px;
}

.top-scnd_nav {
  display: flex;
  justify-content: space-between;
  padding-left: 11px;
  height: 39px;
  background-color: #232f3e;
  padding-right: 10px;
}

.top-scnd_nav_left {
  display: flex;
}

.top-scnd_nav_hamburger {
  display: inline-flex;
  align-items: center;
  padding: 8px 9px 8px 9px;
  margin: 5px 0 6px 0;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.top-scnd_nav_hamburger_img {
  background: url(/styles/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  width: 17px;
  height: 14px;
  background-position: -172px -255px;
  margin-right: 5px;
}

.top-scnd_nav_button {
  display: flex;
  align-items: center;
  margin: 5px 0 6px 0;
  padding: 8px 9px;
  font-size: 14px;
}

.header_banner {
  display: flex;
  justify-content: center;
}

.back-button {
  font-size: 12px;
  color: #565959;
  padding-left: 18px;
}

.back-button:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  min-width: 996px;
  padding: 14px 18px 18px;

  height: 100vh;
}

.main_images_c {
}

.main_images_ul li {
  position: relative;
  overflow: hidden;
  border: 1px solid grey;
  margin-bottom: 8px;
}

.main_images_ul li input {
  border: none;
  text-indent: -9999px;
  height: 50px;
  width: 40px;
  cursor: pointer;
}

.main_images_img1 input {
  background: url(/styles/images/41V5bHk7xhL._AC_SR38\,50_.jpg) no-repeat;
}
.main_images_img2 input {
  background: url(/styles//images/51GL8-OWJ-L._AC_SR38\,50_.jpg) no-repeat;
}
.main_images_img3 input {
  background: url(/styles/images/51Bva+tHqOL._AC_SR38\,50_.jpg) no-repeat;
}
.main_images_img4 input {
  background: url(/styles/images/419qjsQmT5L._AC_SR38\,50_.jpg) no-repeat;
}

.main_images_ul li::after {
  content: "";
  height: 390px;
  width: 500px;
  position: absolute;
  left: 100px;
}

.main_images_ul li:nth-child(1) {
  overflow: initial;
}

.main_images_img1::after {
  top: 100px;
  background: url(/styles/images/41V5bHk7xhL._AC_.jpg) no-repeat;
}
.main_images_img2::after {
  top: -20px;
  background: url(/styles//images/product_img_2.jpg) no-repeat center
    center/cover;
}
.main_images_img3::after {
  top: -50px;
  background: url(/styles//images/product_img_3_.jpg) no-repeat;
}
.main_images_img4::after {
  top: -100px;
  background: url(/styles//images/product_img_4_.jpg) no-repeat;
}

.main_images_ul li:hover {
  overflow: initial;
  border: 1px orange solid;
}

.main_product-info {
  display: flex;
  justify-content: flex-end;
  height: 80vh;
  width: 770px;
  /* background-color: rgb(218, 227, 230); */
}

.main_product-info_left {
  padding: 1px;
  width: 475px;
  color: #0f1111;
  font-size: 14px;
}

.main_product-info_left_header h1 {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.main_product-info b {
  color: #0f1111;
}

.main_product-info a {
  color: #007185;
  font-size: 14px;
  line-height: 20px;
}

.main_product-info a:hover {
  color: #c7511f;
}

.main_product-info_left_header-a {
  display: block;
}

.main_product-info_left_header_ratings {
  display: flex;
  align-self: flex-end;
  padding-bottom: 1px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 14px;
}

.stars5 {
  display: inline-block;
  height: 18px;
  width: 110px;
  background: url(/styles/images/star.png);
}

.main_product-info_left_price {
  display: flex;
}
.main_product-info_left_price_header {
  margin-right: 5px;
  color: #565959;
}

.price {
  color: #b12704;
  font-size: 18px;
  line-height: 24px;
  margin-right: 5px;
}

.import-fees {
  color: #565959;
}

.main_product-info_left_text ul {
  list-style: initial;
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
}

.main_product-info_right {
  padding: 14px 18px;
  font-size: 14px;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  width: 244px;
  margin-left: 20px;
  line-height: 20px;
}

.main_product-info_right .price {
  display: block;
  margin-bottom: 4px;
}

.main_product-info_right p {
  margin-bottom: 12px;
}

.main_product-info_right_location a {
  font-size: 12px;
}

.main_product-info_right_location_icon {
  display: inline-block;
  min-width: 16px;
  height: 14px;
  margin-right: 5px;
  margin-top: 2px;
  background: url(/styles/images/location_icon.png) no-repeat center center;
}

.main_product-info_right_avalibilty {
  color: #007600;
  font-size: 18px;
}

.main_product-info_right_avalibilty_button1 {
  display: block;
  border-radius: 20px;
  width: 100%;
  padding: 8px 0px;
  margin-bottom: 5px;
  border: transparent;
  cursor: pointer;
  background-color: #f7ca00;
}
.main_product-info_right_avalibilty_button2 {
  display: block;
  border-radius: 20px;
  width: 100%;
  padding: 8px 0px;
  margin-bottom: 5px;
  border: transparent;
  cursor: pointer;
  background-color: #fa8900;
}
